<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="carousel3.css">

</head>

<body>

    <main>
        <!-- <div class="container">


            Good
          
                <ul class="carousel3">
     
                </ul>



           
        </div> -->


        <div class="rotate3d"></div>
    </main>
    <script src="carousel3.js"></script>
</body>

</html>