* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    perspective: 1000px;
    place-items: center;
    overflow: hidden;
}

.debug {
    position: absolute;
    color: rgb(241, 5, 5);
    z-index: 1;
}


.orbitObj {
    display: grid;
    place-items: center;
  
    transform-style: preserve-3d;
}

.cube {
    --_length: 100px;
    --_width: 100px;
    --_heigth: 100px;
    --_separate: 0px;
    --_zoom: 1.5;

    z-index: 1;

    height: calc(var(--_heigth) + (var(--_separate) *2 )) ;
    width: calc(var(--_width) + (var(--_separate) *2 )) ;

    display: grid;
    place-items: center;
    position: relative;
    transform-style: preserve-3d;
    transform: scale3d(var(--_zoom),var(--_zoom),var(--_zoom));

    &:before{
        content: "";
        position: absolute;
        display: block;
        
        height: calc(var(--_heigth) + (var(--_separate) *2 )) ;
        width: calc(var(--_width) + (var(--_separate) *2 )) ;
        transform: rotateY(90deg);
    }

    &:after{
        content: "";
        position: absolute;
      
        height: calc(var(--_heigth) + (var(--_separate) *2 )) ;
        width: calc(var(--_width) + (var(--_separate) *2 )) ;
        transform: rotateX(90deg);
    }

    &:hover {

        --_separate: 100px;

    }

    div {
        position: absolute;
        /* backface-visibility: hidden; */
        transition: transform 1s ease;
    }

    /* front */
    :nth-child(1) {
        width: var(--_width);
        height: var(--_heigth);
        background-color: aqua;
        transform: translateZ(calc(var(--_length)/2 + var(--_separate)));
    }

    /* back */
    :nth-child(2) {
        width: var(--_width);
        height: var(--_heigth);
        background-color: rgb(0, 255, 179);
        transform: rotateX(180deg) translateZ(calc(var(--_length)/2 + var(--_separate)));
    }

    /* top */
    :nth-child(3) {
        width: var(--_width);
        height: var(--_length);
        background-color: rgb(255, 0, 0);
        transform: rotateX(90deg) translateZ(calc(var(--_heigth)/2 + var(--_separate)));
    }

    /* bottom */
    :nth-child(4) {
        width: var(--_width);
        height: var(--_length);
        background-color: rgb(255, 0, 234);
        transform: rotateX(-90deg) translateZ(calc(var(--_heigth)/2 + var(--_separate)));
    }

    /* left */
    :nth-child(5) {
        width: var(--_length);
        height: var(--_heigth);
        background-color: rgb(7, 75, 202);
        transform: rotateY(-90deg) translateZ(calc(var(--_width)/2 + var(--_separate)));
    }

    /* right */
    :nth-child(6) {
        width: var(--_length);
        height: var(--_heigth);
        background-color: rgb(136, 255, 0);
        transform: rotateY(90deg) translateZ(calc(var(--_width)/2 + var(--_separate)));
    }

    

    
}